body, html {
    height: 100%;
    margin: 0;
    padding: 0;
   
    overflow: hidden;
}

.container {
    display: flex;
    height: 100%;
}

.containerSky {
    flex: 8;
}

.containerInput {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
     justify-content: center;
    align-items: center; 
  
}

.sky {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
    /* Add the starry background image here */
}
.star {
    position: absolute;
    /* top: 20%;
    left: 20%; */
    width: 15px;
    height: 15px;
    background-color: #f9fb0e; /* Yellow color for the star */
    clip-path: polygon(
        50% 0%,
        61.8% 38.2%,
        100% 35.4%,
        69.1% 57.3%,
        80.3% 91.6%,
        50% 70%,
        19.7% 91.6%,
        30.9% 57.3%,
        0% 35.4%,
        38.2% 38.2%
    );
    animation: blinkStar 2s infinite alternate, changeColor 4s infinite;
}

@keyframes blinkStar {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(0.8);
    }
}

@keyframes changeColor {
    0%, 100% {
        background-color: #f9fb0e; /* Yellow color */
    }
    50% {
        background-color: #ff0000; /* Red color */
    }
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}
.contentInput{
    margin-bottom: 20px;
}

input {
    padding: 2px;
    font-size: 12px;
    width: 30px; /* Adjust the width as needed */
    
}
#createStarButton{
   
    width: 71px;
    color: white;
    background-color: brown;
}



@media screen and (max-width: 768px){
   

    .container-mb {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .containerSky-mb {
       height: 80%; /* Top half (80%) */
        /* Just to visualize the top half */
    }

    .containerInput-mb {
        height: 40%; 
       
    }
    .title{
        margin: 0;
    }
    #starForm {
        display: flex;
        flex-wrap: wrap; /* Allows flex items to wrap to a new line if the width is not enough */
    }
    .contentInput{
        margin-left: 30px;
        margin-bottom: 30px;
    }
    #createStarButton{
        height: 25px;
        width: 60px;
        margin-left: 20px;
        font-size: 12px;
    }
    #starForm{
        margin-bottom: 30px;
       
    }

  
   
   
    

}
